body {
	overflow: hidden;
}

header{
  margin-top: 5vh;
	margin-bottom: 7px;
}

.container {
	width: 450px;
  margin: 0 auto;
	font-family: "Clear Sans","Helvetica Neue","Arial","sans-serif";
}

.score-container {
	display: flex;
  justify-content: space-between;
	height: 70px;
}

.header-item {
  background-color: #bbada0;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 7px;
  min-height: 35px;
  min-width: 35px;
}

.menu-grid{
	height: 100%;
	& div {
		height: 100%;
	}
	& .four-pic {
		background: url('./images/4.png') 100% 100% no-repeat;
  	background-size: cover;
	}
	& .six-pic {
		background: url('./images/6.png') 100% 100% no-repeat ;
  	background-size: cover;
	}
	& .eight-pic {
		background: url('./images/8.png') 100% 100% no-repeat ;
  	background-size: cover;
	}
}

button{
	cursor: pointer;
	outline: none;
  border: none;
	transition: filter 0.2s ease-in-out;
	line-height: 1;
	box-shadow: none;
	&:hover {
		filter: brightness(0.95);
	}
}

.back{
		& i {
			transform: rotate(180deg);
	}
}

i {
	line-height: 1.1
}

.additions{
	display: flex;
	justify-content: space-between;
}

.score-block{
	display: flex;
}

.score {
	margin: 8px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h5, h3{
	margin: 0;
}

h3{
	font-size: 25px;
	font-weight: normal;
}

h5{
	margin: 0 10px;
	font-weight: 100;
	font-size: 12px;
}

.title {
	color: #776e65;
  font-size: 60px;
  margin: 0;
  font-weight: normal;
}

.menu{
	display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.menu-btn{
	height: 30px;
	margin: 10px 0;
	padding: 0;
  background: #f59563;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}

.menu-grid {
	height: 300px;
	
}

.size-nav {
	display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
	color: #776e65;
	& button {
		color: #bbada0;
		background-color: transparent;
		height: 50px;
		font-size: 50px;
		margin: 0;
		padding: 0;
		font-family: monospace;
		font-weight: 900;
	}

	& span {
		font-size: 25px;
  	padding-top: 8px;
	}
}

.grid {
	display: flex;
	height: 100vh;
}


// ----------------- GAME

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	&__background {
		align-content: space-between;
		background-color: #bbada0;
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 5px;
		position: absolute;
		&.playground {
			background-color: transparent;
		}
	}
	&__cell {
		margin: 5px;
		background-color: #cdc1b4;
		border-radius: 5px;
		&.play-cell {
			color: white;
			text-align: center;
			position: absolute;
			transition: left 0.1s ease-in-out, top 0.1s ease-in-out ;
			font-weight: normal;
			font-family: "Clear Sans","Helvetica Neue",Arial,sans-serif;
			font-size: 50px;
			z-index: 2;
			&.moving {
				z-index: 1;
			}
			&.highlight {
				animation-name: highlight-animation;
				animation-iteration-count: 1;
				animation-duration: 0.1s;
				animation-fill-mode: forwards;
			}
			&.new{
				animation-name: new-animation;
				animation-iteration-count: 1;
				animation-duration: 0.1s;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes highlight-animation {
	from{transform: scale(1);}
	to{transform: scale(1.1);}
}

@keyframes new-animation{
	from{transform: scale(0);}
	to{transform: scale(1);}
}

.row {
	display: flex;
	flex-direction: row;
}

.two {
	color: #776e65  !important;
	background-color: #eee4da; 
}

.four {
	color: #776e65 !important;
	background-color: #ece0c8;
}

.eight {
	background-color: #f2b179;
}

.sixteen {
	background-color: #f59563;
}

.thirty {
	background-color: #f57c5f;
}

.sixty {
	background-color: #f65d3b;	
}

.hundred {
	background-color: #edce71;
}

.two-handred {
	background-color: #eccb60;
}

.five-hundred {
	background-color: #edcc61;
}

.thousand {
	background-color: #ebc751;
}

.two-thousands {
	background-color: #eec22e;
}

.black {
	background-color: #3d3a33;
}